body {
   margin: 0;
   background: url(../img/bg.jpg) no-repeat;
   min-width: 940px;
   height: 100%;
}

#header {
   width: 940px; 
   margin: 20px auto;
}

#logo {
   display: inline-block;
   vertical-align: top;
   width: 200px;
   height: 152px;
   margin-left: 30px;
   margin-right: 40px;
}

.infobox {
   width: 300px;
   display: inline-block;
   vertical-align: top;
   color: #fff;
   margin-top: 10px;
   margin-left: 30px;
}

.infobox h3 {
   color: #fff;
   font-size: 11pt;
}

.infobox a {
   color: #3ae;
}

#input
{
   background: url(../img/darkbg.png) repeat;
   width: 100%;
   height: 420px;
   margin: 0;
   padding: 0
}

textarea
{
   border: none;
   resize: none;
   outline: 0 none transparent;
   height: 88%;
   width: 96%;
   padding: 2%;
   background-color: transparent;
   color: #fff;
}

*:focus {
   outline: none;
}

#actions {
   text-align: center;
   width: 940px;
   margin: 20px auto;

}

.centered {
   border: 0;
   height: 50%;
   width: 50%;
   position: absolute;
   left: 25%;
   top: 25%;
   text-align: center;
}

#loading-indicator {
   margin: 20px auto 0;
   background-color: rgba(0,0,0,0.5);
   padding: 20px;
   font-size: 22px; 
   color: #fff; 
   text-shadow: 0px 2px 3px #171717;
            
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
}
