body {
   margin: 0;
   background: url(../img/bg.jpg) no-repeat;
   min-width: 940px;
   height: 100%;
}

#container {
   height: 100%;
   width: 100%;
}

/*
 * Everything dealing with front_page
 */
#header {
   width: 940px; 
   margin: 0 auto;
   padding: 20px 0;
}

#logo {
   display: inline-block;
   vertical-align: top;
   width: 200px;
   height: 152px;
   margin-left: 30px;
   margin-right: 40px;
}

.infobox {
   width: 300px;
   display: inline-block;
   vertical-align: top;
   color: #fff;
   margin-top: 10px;
   margin-left: 30px;
}

.infobox h3 {
   color: #fff;
   font-size: 11pt;
}

.infobox a {
   color: #3ae;
}

#input
{
   background: url(../img/darkbg.png) repeat;
   width: 100%;
   height: 420px;
   margin: 0;
   padding: 0
}

textarea
{
   border: none;
   resize: none;
   outline: 0 none transparent;
   height: 88%;
   width: 96%;
   padding: 2%;
   background-color: transparent;
   color: #fff;
}

*:focus {
   outline: none;
}

#actions {
   text-align: center;
   width: 940px;
   margin: 20px auto;
}

/*
 * Everything dealing with loading_page
 */
.centered {
   border: 0;
   height: 50%;
   width: 50%;
   position: absolute;
   left: 25%;
   top: 25%;
   text-align: center;
}

#loading-indicator {
   margin: 20px auto 0;
   background-color: rgba(0,0,0,0.5);
   padding: 20px;
   font-size: 22px; 
   line-height: 24px;  
   color: #fff; 
   text-shadow: 0px 2px 3px #171717;
            
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
}


/*
 * Everything dealing with interface_page
 */
#topbar
{
   background: url(../img/interface-topbar) repeat-x;
   width: 100%;
   height: 145px;
}

#topbar-container
{
   width: 940px;
   margin: 0 auto;
   padding-left: 20px;
}

#topbar-logo
{
   display: inline-block;
   float: right; 
   width: 198px;
   height: 150px;
}

#topbar-toolbar
{
   display: inline-block;
   width: 700px;
   float: left;
}

#toolbar-slider
{
   width: 660px;
   padding: 20px 0 0 40px;
   height: 30px;
}

.toolbar-statbox
{
   display: inline-block;
   width: 200px;
   height: 50px;
   padding: 14px 10px;

   text-align: center;

   border: 1px solid #eee;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

.toolbar-statbox h2
{
   color: #cc0000;
}

.toolbar-statbox h2.green
{
   color: #699652;
}

.toolbar-statbox h4
{
   color: #999;
}

#content-container
{
   width: 940px;
   margin: 20px auto 0;
}

#content
{
   font-size: 12pt;
   line-height: 22pt;
}

#content-biblio
{
   margin: 20px auto 0;
}

#content-images
{
   margin-left: 20px;
}

.image-holder
{
   text-align: center;
}

.image
{
   border: 8px solid #fff;
   margin-top: 10px;
   max-width: 250px;
}

.new
{
   color: #699652;
   background-color: #d9ebc8;
}

.slider {
   width:600px;
   height:6px;
   background:url(../img/slider-bg.png);
   position:relative;
   margin:0;
}

.ui-slider-handle {
   width:20px;
   height:20px;
   position:absolute;
   top:-7px;
   margin-left:-12px;
   z-index:200;
   background:url(../img/slider-button.png);
}

.ui-widget-header {
   background:url(../img/slider-fill.png) no-repeat left;
   height:6px;
   left:0px;
   top:0px;
   position:absolute;
}

#loading-indicator-container
{
   text-align: center;
   font-size: 20px; 
   line-height: 24px;  
}

#loading-indicator-small
{
   width: 68px;
   padding-left: 68px;
   margin: 100px auto;
}

#beef-label
{
   font-size: 14px;
}
